:root{
  --Cyan: hsl(180, 66%, 49%);
--Red: hsl(0, 87%, 67%);
--Gray: hsl(0, 0%, 75%);
--Grayish-Violet: hsl(257, 7%, 63%);
--Dark-Violet: hsl(257, 27%, 26%);
--Very-Dark-Blue: hsl(255, 11%, 22%);
--Very-Dark-Violet: hsl(260, 8%, 14%);
--Gray1: hsl(0, 20%, 94%);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  width:100%;
  height: 100%; 
}
img{
  max-width:100%;
  height:auto;
}
button{
  border:none;
}
@media only screen and (min-width:10px){

 .mobile{
  display:flex;
  justify-content:space-between;
  padding:1.5em;
}
.desktop{
  display:none;
}
.haburger{
  width:1.5em;
  margin-top:5px;
}
.navlinks-mob{
  list-style:none;
  font-weight: bold;
  background:var(--Dark-Violet);
  position: absolute;
  width: 90%;
  height: 70vh;
  left:0em;
 margin:1.5em; 
 border-radius: 10px;
 text-align: center;
 display: none;
 
}
.navlinks-mob  a{
  text-decoration: none;
  color:var(--Very-Dark-Blue);
  color:white;
  font-size:1.3em;
  font-weight: bold;
}
.navlink{
  margin-top: 2em;
}
hr{
  margin: 2em  1em;
}
.btn-1{
  background : var(--Cyan);
  padding: 1em;
  color:white;
}
.btn-1:hover{
  background:cyan

}
/* the design of the main barcomponent  */
.illustrate{
  margin-top: 1.5em;
  height:60vh;
  margin-bottom: 2em;
  padding:1.5em;
  overflow: hidden;
}
.ilustrate-img{
  min-width: 30em;
}
.main-header{
  font-size: 2.5em;
  text-align: center;
  color: var(--Dark-Violet);
  padding: 0em 1.5em;
}
.main-content{
  padding: 1em 1.5em;
  text-align: center;
  font-size: 1.2em;
  line-height: 30px;
}
.btn{
  margin: 0 auto;
  margin-bottom: 5em;
  margin-top: 0.5em;
  width:50%;
}

/* below is the design of the link section */
.main-link{
  background-color:var(--Dark-Violet);
  background-image: url("./components/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 12em -5em;
  margin: 1.5em;
  padding: 1.2em;
  border-radius: 5px;
  /* margin-bottom:4em; */
}
.link{
  width: 100%;
  padding:0.7em;
  border-radius: 7px;
  margin-bottom:1em;
  font-size: 17px;
  border: none;
}
.error{
 color:var(--Red);
 font-size: 15px;
 margin-top: -12px;
}
.link-btn {
  margin-top: 0.5em;
}
.link:focus{
  outline: none;
}
.show{
  display: block;
}

.statistics{
  margin: 2.5em;
  text-align: center;
  margin-bottom: 5em;
  margin-top: 5em;
}
.ststs-content{
  line-height: 25px;
  margin-top: 1em;
}
/* design of the brand section  */
.brand{
  margin: 1.5em;
  padding:  1.5em;
  text-align: center;
  font-size: 16px;
 background: white;
 margin-bottom: 3em;
}
.chained{
  border-radius: 5px;
  background: rgb(246, 243, 243);
  padding-bottom: 1em;
}
.brand-image{
  background-color:var(--Dark-Violet);
  border-radius: 50%;
  height: 5em;
  width: 5em;
  margin: 0 auto;
  margin-top: -4em;
  margin-bottom: 2em;
}
.brand-img{
 margin-top: 1em;
}
/* --Dark-Violet: hsl(257, 27%, 26%);
--Very-Dark-Blue: hsl(255, 11%, 22%);
--Very-Dark-Violet: hsl(260, 8%, 14%); */

.brand-content{
  line-height: 28px;
  font-size:18px;
  color: var(--Very-Dark-Blue);
}
/* the design of the boost section   mobile*/
.boost{
  background-color:var(--Dark-Violet);
  padding:7em 0em;
  background-image: url("./components/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.boost-head{
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:35px;
}
.btn0{
  width: 50%;
  margin: 0 auto;
  margin-bottom:0em;
  margin-top:2em;
}
/* the design of the footer */
.footer{
  text-align: center;;
  background:var(--Very-Dark-Blue) ;
  color:white;
  padding:3em;
}
.f-logo{
  font-weight: 900;
  margin-bottom: 1em;
}
.footer-links{
  list-style: none;
}
.f-link{
  color:white;
  text-decoration: none;
}
.f-links{
  text-decoration: none;
  padding: 0.3em;
}
#f-link1{
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: 18px;
}
.f-link1{
  margin-top: 1em;
}
.footer-icons{
justify-content: center;
  display: flex;
  margin-top: 2em;
}
.icons{
  padding:0em 0.5em 0em 0.5em;
}
/* tstyling of the link section active */
.shortened{
 
  margin:1em 1.5em;
  padding: 1em;
  font-size: 17px;
 background: white;
 border-radius: 5px;
}
.shorten-btn{
  margin-top: 1em;
}
.horisontal{
  margin: 0.5em -1em;
}
.shorten-link{
  color: var(--Cyan);
}
.vl {
  border-left: 6px solid var(--Cyan);
  height: 50px;
  position: relative;
  bottom:4em;
  left:9em;
}
}

@media only screen and (min-width:481px){
  .desktop{
    display:flex;
    justify-content:space-between;
    padding: 2em 2em 1em 2em;
  }
  .mobile{
    display:none;
  }
  .des-left{
    display:flex;
    flex: 80%;
  }
  .des-right{
    display:flex;
    flex: 20%;
    padding-top: 0.2em;
  }
  .logo{
    width:5em;
  }

.navlinks{
  list-style:none;
    margin-top:-4em;
    margin-left: -1em;
}
  .navlinks  a{
    text-decoration: none;
    margin-right:1.5em;
    font-size:0.8em;
    color:var(--Very-Dark-Blue);
  }
  .b1{
    font-size:0.8em;
    color:var(--Very-Dark-Blue);
    margin-right: 1em;
    flex: 20%;
    text-align: end;
    margin-top: 0.3em;
  }
  .b2{
 flex: 20%;
  }
  .main{
    display:flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  /* the design of the main barcomponent of the page  */
.illustrate{
  margin-top: 0em;
  height:60vh;
  /* width: 100vw; */
  overflow: hidden;
}
.main-header{
  font-size: 2em;
  text-align: start;
  padding: 0em 0.8em;
  margin-top: 1em;
}
.main-content{
  padding: 1em 1em;
  text-align: start;
  font-size: 1em;
  line-height: 25px;
  margin: 0em 1em;
  width:100%;
  color: var(--Very-Dark-Blue);
}
.btn{
  width: 60%;
  margin: 2em 1.7em;
  margin-bottom: 5em;
  margin-top: 1em;
}
.main-link{
  background-color:var(--Dark-Violet);
  background-image: url("./components/images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 12em -5em;
  margin: 1.5em 2em;
  padding: 1.5em 1em;
  border-radius: 5px;
  display: flex;
}
.link-input{
  flex: 67%;
  margin-right: 0.7em;
}
.link-btn {
  margin-top: 0em;
}
.error-msg{
  color: var(--Red);
  font-size: 15px;
  margin-top: -0.8em;
  /* display: none; */
}
.stats-header{
  font-size: 1.6em;
  margin-top: 1em;
  }
  .statistics{
    margin: 0 auto;
    margin-bottom: 3em;
  }
  .ststs-content{
    line-height: 21px;
    font-size: 0.9em;
    margin: 0 auto;
    width:50%;
    margin-top: 0.8em;
  }
  .brand1{
    display: flex;
    margin: 0em 1em;
  }
  .brand-image{
    height: 3em;
    width: 3em;
    margin: 0;
    margin-top: -3em;
    margin-bottom: 1em;
  }
  .brand-img{
   margin: 0.5em;
   width: 2em;
  }
  .brand-content{
    line-height: 21px;
    font-size:12px;
    margin-top: 0.8em;
    
  }
.brand-head{
  font-size: 0.9em;
  text-align: start;
}
.brand{ 
  margin: 1em;
  padding:  1em;
  text-align: start;
  font-size: 16px;
 }
 .btn0{
  width: 30%;
  margin-bottom:0em;
  margin-top:1em;
}
.boost{
  background-image: url("./components/images/bg-boost-desktop.svg");
  background-repeat:no-repeat;
  background-size:cover;
}
.boost{
  padding:3em 0em;
}
.boost-head{
  font-size:35px;
}
}

  @media only screen and (min-width:721px){
    .desktop{
         padding: 2em 2em 1em 5em;
    }
    .navlinks{
        margin-top:-4em;
        margin-left: -4em;
    }
    .main-header{
      font-size: 3em;
      padding: 0em 1.5em;
      margin-top: 1em;
    }
    .main-content{
      padding: 1em 0.5em;
      font-size: 1em;
      line-height: 25px;
      margin: 0em 4em;
      width:60%;
    }
    .btn{
      width: 37%;
      margin: 2em 4.5em;
      margin-bottom: 5em;
      margin-top: 1em;
    }
    .main-link{
      margin: 1.5em 4.5em;
      padding: 2em 2.5em;
      border-radius: 5px;
      display: flex;
    }
    .stats-header{
    font-size: 1.8em;
    }
    .statistics{
      margin: 0 auto;
      margin-bottom: 3em;
      margin-top: 4em;
    }
    .ststs-content{
      font-size: 0.9em;
      width: 30%;
    }

    .brand1{
      display: flex;
    margin: 0em 3em;
    }
    .brand-image{
      height: 4em;
      width: 4em;
      margin: 0;
      margin-top: -4em;
      margin-bottom: 2em;
    }
    .brand-img{
    margin: 1em;
    width: 2em;
    }

    .brand-content{
      line-height: 23px;
      font-size:15px;
      margin-top: 1em;
    }
    .brand-head{
    font-size: 1.4em;
    text-align: center;
    text-align: start; 
    }
    .brand{
    margin: 1.5em;
      padding:  1.5em; 
      font-size: 16px;
    margin-bottom: 3em;
    }
   
    .btn0{
      width: 25%;
      margin-top:1em;
    }
    .boost-head{
      font-size:30px;
    }
        /* the design of the footer */
    .footer{
      text-align: start;;
      background:var(--Very-Dark-Blue) ;
      color:white;
      padding:3em;
      display: flex;
      justify-content: space-around;
    }
    .f-logo{
      font-weight: 600;
      margin-bottom: 0em;  
      flex: 22%;
    }
    .footer-links{
      display: flex;
      justify-content: space-evenly;
       flex: 40%;
    }
    #f-link1{
      margin-bottom: 0em;
      font-weight: bold;
      font-size: 14px;
      /* border: solid 1px black; */
    }
    .f-link{
      font-size: 14px;
    }
    .f-link1{
      margin-top: 0em;
    }
    .footer-icons{
      justify-content: center;
        display: flex;
        margin-top: 2em;
        flex: 30%;
      }
      /* tstyling of the link section active */
.shortened{
  margin: 0.5em 4em;
 display: flex;
 justify-content: space-between;
}
.shorten-btn{
  margin-top: 0em;
}
.horisontal{
display: none;
}
.link-active-one{
  flex:60%;
  margin-top: 0.5em;
}
.link-active-two{
  display: flex;
  justify-content: space-between;
  flex:40%
}
.shorten-link{
  flex:75%;
  margin-top: 0.5em;
  color: var(--Cyan);
}
.shorten-btn{
  flex:25%;
}
  } 
